# <p style="text-align: center;">Computational Statistics with Python</p>


## <p style="text-align: center;">Topic 2: Basic Python programming</p>

## <p style="text-align: center;">Expected lecture time: 3 hours</p>


<p style="text-align: center;">Giancarlo Manzi</p>
<p style="text-align: center;">Department of Economics, Management and Quantitative Methods</p>
<p style="text-align: center;">University of Milan, Milan, Italy</p>


## What we will see


- Some basic Python programming.


- After introducing the the language basics, we will cover some object-oriented and functional programming in Python.


- In addition, several relevant modules of the Python basic libraries will be introduced.


- We will then focus on Python paradigms and best practices for solving frequent tasks.


- Finally, we will study some basic libraries of data manipulation and visualization, as well as we will give some hints on programming for machine learning with Python


## Specific points in this Python introduction



- The Python interpreter


- Variables dynamic typing.


- Null values.


- Tuples and lists


- Conditional clauses and cycles.


- List slices and list comprehension.


- Dictionaries.

## Specific points in this Python introduction (cont'd)

- The numpy library and the numpy array.


- Main operations with numpy.


- Pandas: Python Data Analysis Library


- Indices, Series and Pandas Data Frame.


- Other data structures (pkl).


- CSV importing, simple statistics, simple graphics (Pandas, Matplotlib).


- Classes and objects of the Scikit-learn library.


- Some statistics applications (probably tomorrow).

# Different programming typology (*paradigms*)


- *Procedural* programming:
    - FORTRAN;
    - Pascal;
    - COBOL;
    - C;
    - Algol.



- *Object-oriented* programming (*untyped*):
    - Simula;
    - SmallTalk;
    - Python;
    - Ruby;
    - JavaScript.



- *Object-oriented* programming (*typed*):
    - C++;
    - Java;
    - Scala;
    - C#;
    - JavaScript.



- *Functional* programming (*untyped*):
    - LISP;
    - Scheme;
    - Racket.
 
 

- *Functional* programming (*typed*):
    - ML;
    - OCaml;
    - Haskell;
    - F#.
  
  
  
- *Logical* or *declarative* programming:
    - Prolog;
    - Curry;
    - SQL.

# Interpreters, compilers and virtual machines


- Let $ L_S $ be a *source* programming language, $L_T$ a *target* language and $L_I$ an *implementation* language.


- Then an *interpreter* for $L_S$ is a $L_I$ program that executes $L_S$ programs.


- When both $L_S$ and $L_I$ are low-level, an interpreter is called *virtual machine*.


- A *translator* from $L_S$ to $L_T$ is a $L_I$ program that translates programs written in $L_S$ into *equivalent* programs in $L_T$.


- When $L_T$ is low-level, a translator to a $L_T$ program is called a *compiler*.

# Interpreter language


- An interpreter is therefore a program that can execute programs using only the source code.



- It executes a program in a high-level language without compiling it and transforming it into object code.


- When using an interpreter language, the instructions are executed in the language used and the interpreter will immediately translate them into machine language instructions.


- Unlike an interpreter, a compiler does not execute the program it receives as input, but translates it into machine language (by storing the object code on file ready for direct execution by the processor).

# Python: a multi-paradigm language


- Most programming languages support more than one programming paradigm to allow programmers to use the most suitable programming style and associated language constructs for a given job.


- Python is a *multiparadigm* programming language.


- When using a programming language there are many different ways to get the same output.


- For example we want to calculate $(4 + 4) \cdot (8 + 8)$.


- Mandatory or procedural programming: proceed in sequence. Example:


-  ``` python 
        suma1 = 4+4
        suma2 = 8+8 
        producto = suma1  * suma2 
        print(producto)
        >>128
        ```

In [1]:
suma1 = 4+4
suma2 = 8+8 
producto = suma1  * suma2 
print(producto)

128

# Python: a multi-paradigm language (2)


- *Functional* programming: we use functions. Examples:


-  ``` python 
        print (prod(
        suma(8,8), suma (4,4)
        )
        )
        >>128
        ```

In [3]:
def som(c,d):
    summa = c + d
    return summa

In [4]:
som(3,4)

7

In [5]:
def prod(a,b):
    product = a * b
    return product

In [6]:
prod(som(8,8),som(4,4))

128

# Python: a multi-paradigm language (3)


- *Object-oriented* programming: we create objects with properties and methods. Example:


-  ``` python 
        suma1 = Sumador() 
        suma2 = Sumador() 
        producto = Moltiplicador() 
        suma1.somma(4,4) 
        suma2.somma(8,8) 
        producto.prod(suma1,suma1) 
        print(producto.getRisultato()) 
        >>128
        ```


- Python is "object-oriented".

In [7]:
class Adder:
    def func(self):
        a=4
        b=4
        sum = a+b
        print(sum)
        
ob = Adder()
ob.func()

8

# Intro to Python: Anaconda



<img src="Python5bis.png">

- Anaconda is a distribution of software, platforms, utilities, etc. useful for the development of data science.



- It is a "package manager" for Python, in the sense that the main data science packages are built into it.



- He is also an "environmental manager", in the sense of managing all the environment that Python needs for development.


- It is a collection of nearly 2000 very advanced packages.


- It is open and easy to install, and has behind it a community of developers who give continuous information on the network important for development.

# Intro to Python: Anaconda (2)



<img src="Python6bis.png">


- Installation takes place at www.anaconda.com/distribution


- Select the last version of Python for your OS.

# Intro to Python: Anaconda (3)



<img src="Python7bis.png">

- Select a destination folder to install Anaconda and click the "Next" button.


- Choose whether to register Anaconda as the default Python


- Click on the "Install" button.

# Intro to Python: Anaconda (3)



<img src="Python8bis.png">


- Anaconda Navigator is a desktop application that allows you to launch applications and easily manage packages, environments and channels without using terminal commands.

# Intro to Python: the Jupyter notebook


<img src="Python9bis.png">

- The Jupyter Notebook is an interactive open web application that allows you to share documents, prepare slides, text documents and simultaneously develop Python code.


- We will use it throughout the course. A more experienced programmers platform is *Atom*. *Visual Studio* is also popular.


- Jupyter is set up as if it were a web page (and in fact text, comments and code can be saved in html format as a web page).

# Intro to Python: how Jupyter works



<img src="Python11bis.png">


- Once launched, a Jupyter server "works" through port 8888 (by default), or through an ad hoc specified port.


- Jupyter should start from Anaconda directly; otherwise you have to open a web page at https: // localhost: 8888.


- We open a new notebook with "New" + "Python3": a notebook file with the extension * .ipynb * will be created (python files on other platforms have the extension * .py *)

In [8]:
# Conversione Euro-Sterlina e viceversa

# Euro da cambiare in sterline:
Euro = 20

# Sterline da cambiare in Euro
Sterline = 20

#Tasso di cambio al 14 ottobre 2019:  1 sterlina = 1.145
tassoSE= 1.145

#Tasso di cambio Euro-Sterlina

tassoES = 1/tassoSE

# Sterline da Euro

print("Conversione da euro in sterline")

print("Al tasso di cambio del 14 ottobre 2019:", Euro , " Euro sono ", Euro * tassoES, "sterline")

Conversione da euro in sterline
Al tasso di cambio del 14 ottobre 2019: 20  Euro sono  17.467248908296945 sterline

# Data types in Python


- Numeric values: float, integers, complex.


- Strings.


- Logical values.


- Etc.

# Numerical values


- `` int``: defines an integer with any number of digits.
    - ``In []: a = 77``.
    - ``In []: b = 8888888888888888888888``.

- ``float``: defines a "real" number.
    - ``In []: p = 3.141592``.


- ``complex``: defines a complex number.
    - ``In []: c = 3+4j``.
    - ``In []: c = complex(3, 4)``.

# Values for Boolean operators


- ``In []: t = True``.



- ``In []: F = not t``.
   


- ``In []: F or t``.



- ``Out []: True``.



- ``In []: F and t``.



- ``Out []: False``.

In [1]:
t = True
F = not t
F or t

True

In [ ]:
F and t

# Brackets ( ) with Boolean operators: different results according to where they are positioned


- ``In []: a = False``


- ``In []: b = True``


- ``In []: c = True``


- ``In []: (a and b) or c``


- ``Out[]: True``


- ``In []: a and (b or c)``


- ``Out[]: False``

In [8]:
a = False
b = True
c = True
(a and b) or c

False

In [7]:
(a and b)

False

In [ ]:
a and (b or c)

# Strings


- You can use any kind of quotes to define a string.


- 'This is a string'


- " Also this! "


- "" "And this too!" ""


- '' 'And yet another! '' '

In [9]:
a  = ' This is a string '
print(a)

 This is a string

In [ ]:
b = " Also this! "
print(b)

In [ ]:
c = """ And this too! """
print(c)

In [ ]:

d = ''' And yet another! '''
print(d)

# Strings (2)


- We must distinguish between quotation marks that are used by Python to define a string variable and quotation marks that define a text or a text.


- '"Go and do this!" Carlos said. '


- If there is an apostrophe in the text, use the definition with "".

- Triple quotes form "split" text into lines:

- ``` python
    """ En un lugar de la Mancha, 
    de cuyo nombre no quiero acordarme, 
    no ha mucho tiempo que vivía un hidalgo....
    """
    ```

In [2]:
a = ' "Go and do this! "Said Carlos.'
print(a)

 "Go and do this! "Said Carlos.

In [4]:
a = " l'apostrophe (en Francaise)"
print(a)

 l'apostrophe (en Francaise)

In [5]:
a = """ En un lugar de la Mancha, 
  de cuyo nombre no quiero acordarme, 
  no ha mucho tiempo que vivía un hidalgo....
    """
print(a)

 En un lugar de la Mancha,
  de cuyo nombre no quiero acordarme,
  no ha mucho tiempo que vivía un hidalgo....

# Strings


- ``In []: w = "ciao"``


- ``In []: print(w[0], w[1], w[-1], w[1:3])``


- ``In []: len(w)``


- ``Out[]: 4``

In [1]:
w = "ciao"
print (w[0], w[1], w[-1], w[1:3])

c i o ia

In [ ]:
len(w)

# Strings (4)

- Once a string has been assigned, it can no longer change.


- ``In []: w[0] = 'C'``


- ```python
    --------------------------------------------
    TypeError  Traceback (most recent call last)
    <ipython console> in <module>()
    TypeError: 'str' object does not support item assignment
    ```

In [2]:
w[0] = 'C'

TypeError: 'str' object does not support item assignment

# The ``type()`` function: discovering data types

- ``In []: a = 1.0``


- ``In []: type(a)``


- ``Out[]: float``


- ``In []: type(1)``


- ``Out[]: int``


- ``In []: type(1+1j)``


- ``Out[]: complex``


- ``In []: type('ciao')``


- ``Out[]: str``

In [3]:
a = 1.0
type(a)

float

In [4]:
type(1)

int

In [5]:
type(1+1j)

complex

In [6]:
type('ciao')

str

# Arithmetic operator (I)

-  % is the modulus:
  

- ``In []: 77 % 2``


- ``Out[]: 1``


- ``In []: 1886 % 12``


- ``Out[]: 2``


- ``In []: 1884 % 12``


- ``Out[]: 0``


- ``In []: 864675 % 10``


- ``Out[]: 5``


- ``In []: 31245 * 126789``


- ``Out[]: 3961522305``


-  **  is the power operator:
  

- ``In []: big = 1234567891234567890 ** 3``


- ``In []: verybig = big * big * big * big``

In [7]:
77 % 2

1

In [8]:
1886 % 12

2

In [9]:
1884 % 12

0

In [10]:
big = 1234567891234567890 ** 3
print(big)

1881676377434183981909562699940347954480361860897069000

In [11]:
verybig = big * big * big * big
print(verybig)

12536598903329366187366602453637834523513900340514681990694177938853001286963089597513186328270383939298923641110340456447058221912767480641620897695065961403207129435677004066945018482594529234494366959121000000000000

# Arithmetic operators (II)

-  ``In []: 18 / 3``


- ``Out[]: 6 `` 


- ``In []: 18 / 3.0``


- ``Out[]: 6.0``


- ``In []: 18.0 / 3``


- ``Out[]: 6``


- ``In []: 18.0 / 9.5``


- ``Out[]: 1.894736842105263``

# Arithmetic operators (III): the 'floor' operator


-  ``In []: 18 // 4``


- ``Out[]: 4``


- ``In []: 18 // 4.0``


- ``Out[]: 4.0``


- ``In []: 18.0 // 4.0``


- ``Out[]: 4.0``


- ``In []: 18.0 // 9.6``


- ``Out[]: 1.0``

In [13]:
18.0 // 9.6

1.0

# Arithmetic operators (IV)


-  Counters (used in *loop* clauses):


- ``In []: a = 8000``


- ``In []: a += 1``


- ``In []: a``


- ``Out[]: 8001``


- ``In []: a -= 7``


- ``In []: a``


- ``Out[]: 7994``


- ``In []: a *= 2``


- ``In []: a``


- ``Out[]: 15988``


- ``In []: a /= 5``


- ``In []: a``


- ``Out[]: 3197.6``

In [ ]:
a = 8000
a += 2
a += 4
a

# String operators (I)


-  ``In []: s = 'En un lugar '``


- ``In []: p = 'de la Mancha, 
  '``


- ``In []: q = ' de cuyo nombre no quiero acordarme, '``


- ``In []: s + p + q``


- ``Out[]: 'En un lugar de la Mancha, de cuyo nombre no quiero acordarme,'``


- ``In []: s * 4``


- ``Out[]: 'En un lugar En un lugar En un lugar En un lugar '``

In [3]:
s = 'En un lugar '
p = 'de la Mancha, '
q = 'de cuyo nombre no quiero acordarme,'
s + p + q

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme,'

In [4]:
s = 'En un lugar '
s * 4

'En un lugar En un lugar En un lugar En un lugar '

# String operators (II): errors


-  

- ``In []: s * s``


- - ```python
    --------------------------------------------
   TypeError  Traceback (most recent call last)
   <ipython console> in <module>()

    TypeError: can`t multiply sequence by
               non-int of type `str`
    ```

In [6]:
a = 'En un lugar'
a.startswith('En')

False

# Methods applied to strings (I)


-  ``In []: a = 'En un lugar de la Mancha'``


- ``In []: a.startswith('En')``


- ``Out[]: True``


- ``In []: a.startswith('hidalgo')``


- ``Out[]: False``


- ``In []: a.endswith('Mancha')``


- ``Out[]: True``


- ``In []: a.upper()``


- ``Out[]: 'EN UN LUGAR DE LA MANCHA'``


- ``In []: a.lower()``


- ``Out[]: 'en un lugar de la mancha'``

# Methods applied to strings (II)


- ``In []: a = '  Hola todos  '``


- ``In []: b = a.strip()``


- ``In []: b``


- ``Out[]: 'Hola todos'``


- ``In []: b.index('od')``


- ``Out[]: s``


- ``In []: b.replace('Hola', 'Buenas noches')``


- ``Out[]: 'Buenas noches todos'``

In [10]:
a = '        Hola todos  '
e,f = "En un lugar", "de la Mancha"
f

'de la Mancha'

In [11]:
a.index('od')

18

In [15]:
a = "Hola todos"
a.replace('Hola', 'Buenas noches')
a

'Hola todos'

# Strings: ``split`` and ``join``


- ``In []: chars = 'a b c d'``


- ``In []: chars.split()``


- ``Out[]: ['a', 'b', 'c', 'd']``


- ``In []: ' '.join(['a', 'b', 'c', 'd'])``


- ``Out[]: 'a b c d'``
  

- ``In []: alpha = ', '.join(['a', 'b', 'c'])``


- ``In []: alpha``


- ``Out[]: 'a, b, c'``


- ``In []: alpha.split(', ')``


- ``Out[]: ['a', 'b', 'c']``

In [16]:
alpha = ', '.join(['a', 'b', 'c'])
alpha

'a, b, c'

In [17]:
alpha.split()

['a,', 'b,', 'c']

# String formatting and visualization of numbers in strings


- ``In []: x, y = 1, 1.234``


- ``In []: x``


- ``Out[]: 1``


- ``In []: y``


- ``Out[]: 1.234``


- ``In []: 'x is %s, y is %s' %(x, y)``


- ``Out[]: 'x is 1, y is 1.234'``


- You can also use ``%d`` or ``%f`` (see http://docs.python.org/library/stdtypes.html)

In [18]:
x, y = 1, 1.234
'x is %s, y is %s' %(x, y)

'x is 1, y is 1.234'

# Relational and logic operators


- ``In []: p, z, n = 1, 0, -1``


- ``In []: p == z``


- ``Out[]: False``


- ``In []: p >= n``


- ``Out[]: True``


- ``In []: n < z < p``


- ``Out[]: True``


- ``In []: p + n != z``


- ``Out[]: False``


- ``n []: p + n == z``


- ``Out[]: True``

# The *assertion handling*


- ``In []: p, z, n = 1, 0, -1``


- ``In []: assert p != n``


- ``In []: assert p == n``


- ```python
    --------------------------------------------
    AssertionError      Traceback (most recent call last)
    ----> 1 assert p == n
    
    AssertionError:
    ```
    
- The error is not reported if the condition is true.


- The error is reported if the condition is false.

In [13]:
print(p)
n

1

-1

In [19]:
p, z, n = 1, 0, -1
assert p == n, "Error: condition is not verified"
assert p != n

AssertionError: Error: condition is not verified

In [20]:
p, z, n = 1, 0, -1
assert p != n

In [11]:
assert p == n

AssertionError:

# Examples of error handling

- ``In []: assert p == n, "Error: condition is not verified"``


- ``In []: assert p != n``


- ``In []: assert p == n``


- ```python
    --------------------------------------------
    AssertionError      Traceback (most recent call last)
    ----> 1 assert p == n
    
    AssertionError: Error: condition is not verified
    ```
   
   
- It handles the error and provides an error message.

# String containers


- ``In []: fruta = 'manzana, banana, pera'``


- ``In []: 'manzana' in fruta``


- ``Out[]: True``


- ``In []: 'patata' in fruta``


- ``Out[]: False``

# Keyboard IO

  

  

 - `` input () '' is the command to take keyboard input.
 
 
- `` In []: a = input ('Please enter a value:') ''
"Please enter a value: 10"


- `` input () '' generates strings; so to use the entered value as input you have to transform it into an integer with `` int () ``.

In [21]:
input('Escriba un valor: ')

Escriba un valor: 6

'6'

# The conditional *flow* ``if``...``elif``...``else``

 
- ```python
   x = int(input("Introduce un número entero: "))
if x < 0:
    print('Negativo')
elif x == 0:
    print('Cero')
else:
    print('Positivo')
    ```

In [24]:
x = int(input("Introduce un número entero: "))

if x < 0:
    print('Negativo')
elif x == 0:
    print('Cero')
else:
    print('Positivo')

Introduce un número entero: 2
Positivo

# The ``while`` *loop* : example with the Fibonacci sequence

 
 
- ```python
    a, b = 0, 1
while b < 1000:
    print(b, end=' ')
    next = a + b
    a = b
    b = next
    ```

In [25]:
a, b = 0, 1
while b < 1000:
    print(b, end=' ')
    next = a + b
    a = b
    b = next

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

# The ``for`` *loop* with the command ``range``

  

  
Example: squares of the first 11 natural numbers:
 
 
- ```python
    for i in range(0, 11):
        print(i, i * i)
    ```

In [27]:
for i in range(0, 11, 2):
        print(i, i * i)

0 0
2 4
4 16
6 36
8 64
10 100

# The ``break`` clause: exiting from the ``while`` *loop*

  
Example: find the first number less than 100 of the Fibonacci series divisible by 4
 
 
- ```python
    a, b = 0, 1
    while b < 100:
        if b % 4 == 0:
            print(b)
            break
        a, b = b, a + b
    ```

- Beware of "indentation": it is important to define the `` while`` loop and the `` if`` condition.

In [20]:
a, b = 0, 1
while b < 100:
    if b % 4 == 0:
        print(b)
        break
    a, b = b, a + b

8

# The "pass clause": do nothing and move to the next iteration in the *loop*

  
 
- ```python
   for i in range(5):
       if i % 2 ==  0:
           pass
        else:
            print(i, 'dispar')
    1 dispar
    3 dispar
    ```

- Beware of "indentation": it is important to define the `` while`` loop and the `` if`` condition.

In [ ]:
for i in range(5):
    if i % 2 ==  0:
        pass
    else:
        print(i, 'dispar')

# Data structures: *lists*

  
 
- Lists contain different types of data ...


- ... also the other lists that are therefore nested in another list ....


- Example:


``# Esta es una lista:``

``In []: x = ['manzana', 1, 'banana', 2.5, 't-shirt', [1,2,3]]``


``In []: len(x)``

``Out []: 6``

In [18]:
x = ['manzana', 1, 'banana', 2.5, 't-shirt', [1,2,3]]
len(x)
len(x[5])

3

In [21]:
#Subsetting a list
x[5][2]

3

# Methods in lists: the "append" clause

  
 
 ``In []: num = [9, 8, 2, 3, 7]``


``In []: num + [4, 5, 6]``


``Out []: [9, 8, 2, 3, 7, 4, 5, 6]``


``In []: num.append([4, 5, 6])``


``In []: num``


``Out[]: [9, 8, 2, 3, 7, [4, 5, 6]]``

In [22]:
num = [9, 8, 2, 3, 7]
num + [4, 5, 6]

[9, 8, 2, 3, 7, 4, 5, 6]

In [23]:
num.append(4)
num

[9, 8, 2, 3, 7, 4]

In [26]:
num = [9, 8, 2, 3, 7]
num1 = num + [10,11,12]
num1.append([4, 5, 6]) 
num1

[9, 8, 2, 3, 7, 10, 11, 12, [4, 5, 6]]

# List methods: ``extend``, ``reverse`` and ``remove``

  
 
- Lists contain different types of data ...


- ... also the other lists that are therefore nested in another list ....


- Example:


``# This is a list:``

``In []: num = [9, 8, 2, 3, 7]``

``In []: num.extend([4, 5, 6])``

``In []: num``

``Out[]: [9, 8, 2, 3, 7, 4, 5, 6]``

``In []: num.reverse()``

``In []: num``

``Out[]: [6, 5, 4, 7, 3, 2, 8, 9]``

``In []: num.remove(6)``

``In []: num``

In [27]:
num = [9, 8, 2, 3, 7]
num.extend([4, 5, 6])
num

[9, 8, 2, 3, 7, 4, 5, 6]

In [17]:
num.reverse()
num

[6, 5, 4, 7, 3, 2, 8, 9]

In [18]:
num.remove(6)
num

[5, 4, 7, 3, 2, 8, 9]

# List methods: ``count``, ``index`` and ``pop``

  


``In []: num = [9, 8, 2, 3, 1, 2, 3, 4]``


``In []: num.count(2) #How many times is number 2 in the list?``


``Out[]: 2``


``In []: num.index(2) #What is the index of the first number 2 on the list?``


``Out[]: 2``


``In []: num.pop(4) #Returns the element present in correspondence of the argument and deletes it from the list``


``Out[]: 1``


``In []: num``


``[9, 8, 2, 3, 2, 3, 4]``

In [28]:
num = [9, 8, 2, 3, 1, 2, 3, 4]
num.count(2)

2

In [29]:
num.index(2)

2

In [30]:
num.pop(4)

1

In [32]:
num

[9, 8, 2, 3, 2, 3, 4]

# Removing elements from a list


- List elements can be removed based on their index or ....


- ... based on their value.


`` In []: del num [1] ''


`` In []: num.remove (3) ''


- * When removing by value the first element in the list containing that value is removed *.

In [ ]:
del num[1]
num.remove(3)
num

# Ordering with ``sort()``



``In []: a = [5, 1, 6, 7, 7, 10]``


``In []: a.sort()``


``In []: a``


-  The method ``sort`` orders a list.
  
  
- If you may want a new sorted list you have to use ``sorted``.
  

- Use ``reverse=True`` for an inverse order

``In []: a = [5, 1, 6, 7, 7, 10]``


``In []: b = sorted(a, reverse=True)``


``In []: b``

In [23]:
a = [5, 1, 6, 7, 7, 10]
a.sort()
a

[1, 5, 6, 7, 7, 10]

In [24]:
a = [5, 1, 6, 7, 7, 10]
b = sorted(a, reverse=True)
b

[10, 7, 7, 6, 5, 1]

In [ ]:
a

In [25]:
110/30

3.6666666666666665

# The list container


``In []:  num = [9, 8, 2, 3, 7]``


``In []: 4 in num``


``Out[]: False``


``In []: b = 8``


``In []: b in num``


``Out[]: True``


``In []: b not in num``


``Out[]: False``

In [26]:
num = [9, 8, 2, 3, 7]
4 in num

False

In [27]:
b = 8
b in num

True

In [28]:
b not in num

False

# Tuple: immutable sequences


- Tuples cannot be modified and does not allow for assignment.


``In []: x = 1, 2, 3``


``In []: x``


``Out[]: (1, 2, 3)``


``In []: t = (1, 2, 3, 4, 5, 6, 7, 8)``


``In []: t[0] + t[3] + t[-1]``


``Out[]: 13``


``In []: t[4] = 5``

```python
---------------------------------------------------------
TypeError               Traceback (most recent call last)
<ipython-input-36-fa7207573daf> in <module>
----> 1 t[4] = 5

TypeError: 'tuple' object does not support item assignment
```

In [ ]:
x = 1, 2, 3
x

In [ ]:
t = (1, 2, 3, 4, 5, 6, 7, 8)
t[0] + t[3] + t[-1]

In [ ]:
t[4] = 5

In [22]:
num_prime = [2, 3, 5, 7, 11, 13, 17]
num_prime[2:6]
num_prime[2:-1]
numeros = list(range(14))
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [25]:
num_prime[2:-2]

[5, 7, 11]

In [27]:
# the last argument (2) stands for the step
numeros[1:10:2]

[1, 3, 5, 7, 9]

In [14]:
numeros[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
numeros[::2]

[0, 2, 4, 6, 8, 10, 12]

In [16]:
numeros[:: -1]

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [17]:
a , b = 5, 7

In [18]:
a,b = b,a

In [19]:
a

7

In [20]:
b

5

In [21]:
x = 1, 2, 3

In [22]:
x

(1, 2, 3)

In [33]:
x[0]

TypeError: 'int' object is not subscriptable

In [23]:
y = list(x)

[1, 2, 3]

In [24]:
x

(1, 2, 3)

In [25]:
y = list(x)

In [26]:
y

[1, 2, 3]

In [27]:
tuple(y)

(1, 2, 3)

In [28]:
tuple('buenas dias')

('b', 'u', 'e', 'n', 'a', 's', ' ', 'd', 'i', 'a', 's')

In [29]:
#Block indexing in Python
#Syntax is the following:
#sequence[intitial point: final point: step]
num_primos= [1,3,5,7,11,13,17,19,23]

In [ ]:
num_primos[2:6]

In [ ]:
num_primos[:4]
numeros = list(range(1:14))

In [ ]:
stringa = ['hola','a todos']
stringa[:2]

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16, 18 ,20]
numeros[0:16:2]

In [ ]:
numeros

In [ ]:
numeros[10:]

In [ ]:
numeros[::2]

In [ ]:
numeros[::-2]

In [ ]:
numeros[::-1]

In [ ]:
semana = 'lun mar mie jue vie sab dom'

In [ ]:
semana

In [ ]:
semana.split()

In [ ]:
semana.split()[2]

In [ ]:
stri = 'Domingo'

In [ ]:
if stri.lower()[:3] not in semana:
    print('Ingrese el día de la semana correctamente')
else:
    print('Día de la semana correcto')

In [39]:
#DICTIONARIES: The starting point of data frames....
d = {'png ': 'image file','txt' : 'text file','ipynb' : 'notebook file','java' : 'java file','pdf' : 'Acrobat file'
}

In [36]:
d['txt']

'text file'

In [37]:
'png' in d

True

In [38]:
'jpg' in d

False

In [34]:
list(d.keys())

['png', 'txt', 'ipynb', 'java', 'pdf']

In [35]:
list(d.values())

['image file', 'text file', 'notebook file', 'java file', 'Acrobat file']

In [36]:
d['bin'] = 'binary file'

In [37]:
d

{'png': 'image file',
 'txt': 'text file',
 'ipynb': 'notebook file',
 'java': 'java file',
 'pdf': 'Acrobat file',
 'bin': 'binary file'}

In [42]:
d['pdf'] = 'Portable Document Format'

In [43]:
d

{'png ': 'image file',
 'txt': 'text file',
 'ipynb': 'notebook file',
 'java': 'java file',
 'pdf': 'Portable Document Format'}

In [44]:
del d['java']

In [45]:
d

{'png ': 'image file',
 'txt': 'text file',
 'ipynb': 'notebook file',
 'pdf': 'Portable Document Format'}

In [ ]:
d.del('bin')

In [ ]:
d.pop('bin')

In [ ]:
d

In [ ]:
d.get('txt')

In [41]:
d.update({'png': 'image file', 'exe': 'executable file'})

In [42]:
d

{'png': 'image file',
 'txt': 'text file',
 'ipynb': 'notebook file',
 'java': 'java file',
 'pdf': 'Portable Document Format',
 'exe': 'executable file'}

In [43]:
'bin' in d

False

In [44]:
'exe' in d

True

In [ ]:
'executable file' in d

In [ ]:
d1 = dict(png='image file', txt='text file')

In [ ]:
d1

In [ ]:
a_list=[1,2,3,4,5,6,7,8]

In [ ]:
a_juntos = set(a_list)

In [ ]:
a_juntos

In [45]:
# (Mathematical) sets
Juntos1 = set([1,2,3,5,8])
Juntos2 = set([2,3,5,7])

In [46]:
Juntos1 | Juntos2

{1, 2, 3, 5, 7, 8}

In [47]:
Juntos1 & Juntos2

{2, 3, 5}

In [48]:
Juntos1 - Juntos2

{1, 8}

In [50]:
Juntos1 ^ Juntos2

{1, 7, 8}

In [55]:
Juntos3 = set([1,2,3,4,5,6,7,8,9,10,11])

In [56]:
Juntos3 < Juntos1

False

In [57]:
Juntos1 < Juntos1

False

In [58]:
Juntos1 <= Juntos1

True

In [59]:
1 in Juntos1

True

In [60]:
for i in Juntos1:
    print(i)

1
2
3
5
8

In [61]:
#Functions
def fun(x):
    return (x*x)

In [62]:
fun(4)

16

In [63]:
def Cervantes():
    print('En un lugar de la Mancha')

In [64]:
Cervantes()

En un lugar de la Mancha

In [ ]:
def promedio(a,b):
    return (a+b)/2

In [ ]:
 promedio(3,5)

In [ ]:
valores = [27,28,30,30,18,23,29,30]
longitud = len(valori)

In [ ]:
abs(-5)

In [65]:
documento = open('DonQuixote.txt', encoding = 'mac roman', mode = 'r')

In [66]:
leggi = documento.read()

In [67]:
leggi

'En un lugar de la Mancha, \nde cuyo nombre no quiero acordarme, \nno ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, \nadarga antigua, \nrocín flaco y galgo corredor'

In [68]:
leggi_list = leggi.splitlines()

In [69]:
leggi_list

['En un lugar de la Mancha, ',
 'de cuyo nombre no quiero acordarme, ',
 'no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, ',
 'adarga antigua, ',
 'rocín flaco y galgo corredor']

In [70]:
type(leggi_list)

list

In [71]:
documento.close()

In [1]:
for riga in open('DonQuixote.txt', encoding = 'mac roman', mode = 'r'):
    print(riga)

En un lugar de la Mancha,

de cuyo nombre no quiero acordarme,

no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero,

adarga antigua,

rocín flaco y galgo corredor

# High-level introduction to <code>pandas</code>
For a more complete introduction to <code>pandas</code>, see [https://pandas.pydata.org/](https://pandas.pydata.org/).

In [46]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.22.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 21.2.2; however, version 22.1.2 is available.
You should consider upgrading via the '/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [132]:
#This is to let you have larger fonts...
from IPython.core.display import HTML
HTML("""
<style>

div.cell { /* Tunes the space between cells */
margin-top:1em;
margin-bottom:1em;
}

div.text_cell_render h1 { /* Main titles bigger, centered */
font-size: 2.2em;
line-height:1.4em;
text-align:center;
}

div.text_cell_render h2 { /*  Parts names nearer from text */
margin-bottom: -0.4em;
}


div.text_cell_render { /* Customize text cells */
font-family: 'Times New Roman';
font-size:1.5em;
line-height:1.4em;
padding-left:3em;
padding-right:3em;
}
</style>
""")